.footer {
  background: url(/slider-bg2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 80px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a,
.footer .footer-nav p {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}

.footer .logo-image {
  margin-bottom: 60px;
  max-width: 120px;
}

.footer-content {
  max-width: 210px;
}

.footer-content p {
  margin-bottom: 15px;
  font-size: 14px;
  color: var(--color-subtext);
}