.section-slideshow {
  background-image: url(/slider-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: transparent;
}

.slideshow__image {
  padding: 0 16px;
}

.slideshow__contents {
  padding: 0 16px;
  display: flex;
  justify-items: start;
  text-align: left;
  flex-direction: column;
}

.slideshow__contents .slideshow__movie-name {
  margin-bottom: 15px;
}

.slideshow__contents .slideshow__movie-name .movie-time-release {
  font-size: 36px;
  color: var(--color-subtext);
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 12px;
}

.slideshow__movie-atc {
  margin-bottom: 15px;
}

.slideshow__contents .social-btn {
  color: var(--color-foreground);
  display: flex;
  align-items: center;
  color: #dd003f;
  margin-right: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 8px;
}

.slideshow__contents .social-btn .icon {
  height: 36px;
  width: 36px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #dd003f;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slideshow__image .image--wrapper {
  max-width: 27rem;
  margin-inline: auto 0;
}

.slideshow__image img {
  aspect-ratio: 3/4;
}

.movie-infor {
  list-style: none;
  padding-left: 0;
  gap: 1.2rem 3rem;
}

.movie-infor li {
  color: var(--color-subtext);
}

.movie-infor li .rating-score {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-foreground);
}

.movie-infor li::after {
  content: "|";
  position: absolute;
  right: -15px;
  bottom: 0;
  font-size: 14px;
}

.movie-infor li:last-child::after {
  display: none;
}

.section-placeholder .slideshow__image {
  aspect-ratio: 3/4;
}

.section-placeholder .movie-tags span {
  height: 14px;
  width: 24px;
}

.section-placeholder .slideshow__movie-name>div:first-child {
  margin-bottom: 12px;
}

.section-placeholder .slideshow__movie-name>div {
  height: 76px;
  width: 100%;
}

.section-placeholder .movie-infor li {
  height: 14px;
  width: 40px;
}